/**
 * HEADER THEMING
 */

.header {
  position: relative;
  margin-bottom: 20px;

  @include at-breakpoint($breakpoint_3) {
    position: static;
    margin-bottom: -230px;
  }

  .header-img {
    @include at-breakpoint($breakpoint_3) {
      height: 595px;
      width: 1120px;
      background-image: url(../images/umc_header.png);
      background-repeat: no-repeat;
      background-position: center 35px;
      margin-left: -101px;
    }
  }
}

.header-top {
  @include span-columns(14);
  position: relative;
  margin-bottom: 10px;

  @include at-breakpoint($breakpoint_3) {
    @include span-columns(5,14);
  }
}

.logo {
  @include span-columns(8,14);

  @include at-breakpoint($breakpoint_2) {
    @include span-columns(4,14);
  }

  @include at-breakpoint($breakpoint_3) {
    @include span-columns(5,5);
  }
}

.site-info {
  @include span-columns(14);

  @include at-breakpoint($breakpoint_3) {
    @include span-columns(9,14);
  }

  .site-name {
    font-family: $umc-font-family;
    color: $white;
    text-shadow: #222222 1px 1px;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    display: inline;
    margin-right: 10px;
  }
}

.facebook {
  display: inline;
}

.primary-navigation {
  @include span-columns(14);
  display: none;

  @include at-breakpoint($breakpoint_3) {
    @include span-columns(9 omega,14);
    display: block !important;
  }
}

.secondary-navigation {
  display: none;

  @include at-breakpoint($breakpoint_3) {
    @include span-columns(5 omega,14);
    min-height: 120px;
    display: block;
  }
}