/**
 * NAVIGATION THEMING
 */

/* Primary navigation */
.navigation-toggle {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: block;
  width: 55px;
  height: 56px;
  background-image: url(../images/navigation/mobile-navigation.svg);
  background-repeat: no-repeat;
  background-position: -1px 0px;
  text-transform: uppercase;
  text-indent: -9999px;

  &.selected,
  &:hover {
    background-position: -1px -65px;
  }

  @include at-breakpoint($breakpoint_3) {
    display: none;
  }
}

.primary-navigation {
  
  /* Hide the title */
  h2 {
    @include element-invisible;
  }

  @include at-breakpoint($breakpoint_3) {
    text-align: right;
  }

  .leaf {
    a {
      font-family: $umc-font-family;
      text-decoration: none;
      display: block;
      background-color: #444;
      text-align: center;
      border-bottom: 1px solid #999;
      padding: 12px 0;
    }

    &.last {
      a {
        border-bottom: 0;
      }
    }

    @include at-breakpoint($breakpoint_3) {
      display: inline-block;
      height: 165px;

      &:hover {
        background-color: rgba(136,36,97,0.4);
      }


      a {
        background-color: transparent;
        height: 165px;
        float: left;
        font-size: 20px;
        border-bottom: none;
        padding: 0 10px;
        color: #bbbbbb;

        &:hover {
          color: $white;
        }

        &.artists {
          padding-top: 60px;

          .i18n-nl & {
            padding-top: 67px;
          }
        }

        &.events {
          padding-top: 50px;

          .i18n-nl & {
            padding-top: 52px;
          }
        }

        &.sound-light {
          padding-top: 36px;

          .i18n-nl & {
            padding-top: 35px;
          }
        }

        &.pictures {
          padding-top: 22px;

          .i18n-nl & {
            padding-top: 21px;
          }
        }

        &.contact {
          padding-top: 11px;
        }

        span {
          display: block;
          @include rotate(-7deg);
        }
      }
    }
  }
}

.secondary-navigation {

  /* Hide the title */
  h2 {
    @include element-invisible;
  }

  li {
    text-align: right;
    margin-bottom: 3px;
  }

  a {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    padding: 6px;
    background-color: $dark-blue;

    &:hover {
      background-color: $white;
      color: $dark-blue;
      text-decoration: none;
    }
  }
}

/* Language navigation */
.language {
  position: absolute;
  top: 0;
  right: 0.7145em;

  ul {
    @extend %horizontal-menu;
    margin-top: 5px
  }

  a {
    display: block;
    color: #999;
    margin-right: 5px;
  }

  .last {
    a {
      margin-right: 0;
    }
  }

  @include at-breakpoint($breakpoint_3) {
    position: static;
    @include span-columns(5 omega,14);
    clear: right;
    text-align: right;

    a {
      font-size: 12px;
      line-height: 16px;
      display: inline-block;
      padding: 6px;
      background-color: $dark-blue;
      color: $white;

      &:hover {
        background-color: $white;
        color: $dark-blue;
        text-decoration: none;
      }

      &.active {
        
      }
    }
  }
}