/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */

$black: #333;
$white: #fff;

$dark-blue: #3c4458;




$base-text-color: #333;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;

$base-link-color: #fff;
$base-link-hover-color: #ddd;

